.root {
  composes: center from '../../styles/shared.module.css';
  position: relative;
  background-color: var(--color-black, #000);
  color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 2rem;
}

.root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#0000, #000e);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  composes: narrow-container from '../../styles/shared.module.css';
  width: 100%;
  z-index: 1;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 0 0 10em #000;
  margin: 0;
  padding: 0;
  padding-top: 3em;
  line-height: 1em;
}

.tagline {
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  text-shadow: 0 0 2em #000;
}

.tagline > p {
  margin: 0;
}

.ctas {
  margin-top: 3rem;
  display: flex;
}

.ctas > *:not(:first-child) {
  margin-left: 1rem;
}
