@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  margin: 0 auto;
  max-width: var(--width-small);
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.branding {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @nest & > a {
    display: block;
    padding: 1.5em;

    @supports (padding-top: env(safe-area-inset-top)) {
      padding-left: calc(env(safe-area-inset-left) + 1.5rem);
    }
  }

  @nest & img, & svg {
    height: calc(var(--font-base-line-height) * 1.5rem);
    width: auto;
    color: inherit;
    vertical-align: top;
  }

  @nest & svg path {
    fill: currentColor;
  }

  @media (--media-max-medium) {
    flex: 1;
  }
}

.logo {
  display: block;
}

.nav {
  @media (--media-min-medium) {
    flex: 1;
  }
}

.navItems {
  padding: 0;
  margin: 0;

  @media (--media-min-medium) {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-right: calc(env(safe-area-inset-right) + 1rem);
  }

  @media (--media-max-medium) {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-black, #000);
    color: var(--color-white, #fff);

    @nest .root[data-show-nav="true"] & {
      display: block;
    }
  }
}

.navItem {
  display: flex;
  white-space: nowrap;
  align-items: stretch;
  line-height: calc(var(--font-base-line-height) * 1.5rem);

  @nest & > a {
    display: block;
    position: relative;
    padding: 1.5rem 0.5rem;

    @media (--media-max-medium) {
      padding: 1rem 1.5rem;
      width: 100%;
      box-sizing: border-box;
      text-align: right;

      @nest &[data-is-active="true"]::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        background-color: var(--color-white, #fff);
      }
    }
  }

  @nest .root[data-show-nav="true"] & > a[data-is-active="true"]::before {
    display: none;
  }

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}

.showNavButton {
  appearance: none;
  border: none;
  font: inherit;
  background: none;
  color: inherit;
  margin: 0;
  padding: 1.5rem;
  outline: none;

  @media (--media-min-medium) {
    display: none;
  }
}

.hamburgerIcon {
  font-size: calc(var(--font-base-line-height) * 1.5rem);
  display: block;

  @media (--media-min-medium) {
    display: none;
  }
}
