@import '../styles/shared.module';

.button {
  color: var(--color-white) !important;
  display: block;
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 1em 1.5em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: fit-content;
  @include pressable_button_effect(1);
}