.root {
  background-color: var(--color-black, #333);
  color: var(--color-white, #fff);
  composes: center from '../styles/shared.module.css';
  font-size: 0.8em;
  padding-top: 5rem;
}

.nav {
  composes: narrow-container from '../styles/shared.module.css';
  padding: 3rem 1rem;
}

.nav a {
  display: block;
  line-height: 2em;
  color: inherit;
  text-decoration: inherit;
  color: inherit;
}

ul.items {
  display: block;
  margin: 0;
  column-count: 3;
  column-gap: 1rem;
  column-width: 10rem;
}

.item {
  display: block;
}

.text {
  text-align: center;
  margin-bottom: 2rem;
}
