@import "../styles/custom-media.css";

.root {
  position: relative;
  background-color: var(--color-black, #000);
  color: var(--color-white, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-sizing: border-box;

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-left: calc(env(safe-area-inset-left) + 1em);
    padding-right: calc(env(safe-area-inset-right) + 1em);
  }
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.title {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.title > a {
  display: block;
  padding: 1em 0;
}

.title img,
.title svg {
  height: 2em;
  width: auto;
  color: inherit;
}

.logo {
  display: block;
}

.nav {
  display: flex;
}

.navItems {
  display: none;

  @media (--media-min-medium) {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
}

.navItem {
  display: flex;
  margin-left: 1em;
  white-space: nowrap;
  align-items: stretch;
}

.navItem > a {
  display: flex;
  position: relative;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.navItem > a[data-is-active="true"]::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  background-color: var(--color-white, #fff);
}

.hamburgerIcon {
  font-size: 2em;
  display: block;
  margin-left: 1em;

  @media (--media-min-medium) {
    display: none;
  }
}

.root[data-show-nav="true"] .navItems {
  z-index: 10;
  background-color: var(--color-black, #000);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
